
    {% block cabecera %}
     <div class="ui-layout-north ui-widget-content">
      <div align="center" id="cabecera">
        <h2><a href="{{path('i52_ltpv_frontend_homepage')}}">Aplicación TPV</a></h2>
        (Aquí vendria situado el banner de la tienda)
      </div>
     </div>
    {% endblock %}
