{% extends '::base.html.twig' %}

{% block contenido %}
<div class="contenido"> 

     <h2>{{mensaje}}</h2>
     <p><a href="{{ path(rutaCrear)}}">Creación</a></p>	
     <p><a href="{{ path(rutaListado)}}">Listado</a></p>	
</div>
{% endblock %}
