{% extends '::base.html.twig' %}

{% block contenido %}
  <div class="contenido">
     <h1>Devolución</h1>
     <h2>{{mensaje1}}</h2>
     <p>{{mensaje2}}</p>	
     <p>{{mensaje3}}</p>	
  </div>

{% endblock %}
