{% extends '::base.html.twig' %}

{% block contenido %}
<div class="contenido">
    <h3>Editar Usuario</h3>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('usuario') }}">
            Volver al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
